@import "~normalize.css";
@import "animations";
@import "section";
@import "home-section";
@import "navigation";

:root {
  --grey-border: #918D8D;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

